@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Todo-scheduler";
}

@if (Request.IsAuthenticated)
{
    <div ng-controller="listCtrl">
        <div class="list-container clearfix box">
            <div class="list-items">
                <ul>
                    <li ng-class="{active: data.selectList == -1}"
                        ng-click="data.selectList = -1">All</li>
                    <li ng-class="{active: data.selectList == list.Id}"
                        ng-repeat="list in data.lists"
                        ng-click="data.selectList = list.Id">
                        {{list.Name}}
                        <i class="fa fa-trash-o fa-lg" ng-click="removeList(list)"></i>
                    </li>
                </ul>
                <div>
                    <form name="listForm" ng-submit="addList(listForm.$valid)" novalidate>
                        <input class="inputTextDark" type="text" ng-model="data.newList.Name" placeholder="Add new list..." required />
                        <button type="submit">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" ng-disabled="listForm.$invalid"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="task-items">
                <div class="clearfix">
                    <div>
                        <div class="task-name">
                            <span>Tasks</span>
                        </div>
                        <div class="tool-box">
                            <input id="showFinished" type="checkbox" ng-model="data.showFinished" />
                            <label for="showFinished">Show finished tasks</label>
                            <i class="fa fa-plus fa-2x" aria-hidden="true" ng-click="data.showTaskModal=true"></i>
                        </div>
                    </div>
                    <div class="task-box">
                        <hr />
                        <ul id="todoList">
                            <li ng-repeat="task in data.tasks"
                                ng-show="(task.ListId == data.selectList || data.selectList == -1) && (task.Check == false || data.showFinished == true)">
                                <input type="checkbox" ng-model="task.Check" ng-change="checkDate(task.Id)" />
                                <span>{{task.Name}}</span>
                                <i class="fa fa-trash-o fa-lg" ng-click="removeTask(task)"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-cloak>
            <div class="backmodal" ng-show="data.showTaskModal">
                <new-task></new-task>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="start-text">Please register or login</h1>
}

@section Scripts{
    <script type="text/template" id="templateNewTask">
        <div class="todo-modal">
            <h3>New task</h3>
            <form name="taskForm" ng-submit="addTask(taskForm.$valid)" novalidate>
                <div class="val-group" ng-class="{ 'form-error': taskForm.name.$touched && taskForm.name.$invalid }">
                    <input name="name" class="inputTextDark" type="text"
                           ng-model="data.newTask.Name" placeholder="Task name" required />
                    <div ng-messages="taskForm.name.$error">
                        <p ng-message="required" ng-if="taskForm.name.$touched">Task name is required</p>
                    </div>
                </div>
                <div class="val-group" ng-class="{ 'form-error': taskForm.listid.$touched && taskForm.listid.$invalid }">
                    <select name="listid" ng-model="data.newTask.ListId" class="select-dark" required>
                        <option value="{{option.Id}}" ng-repeat="option in data.lists">
                            {{option.Name}}
                        </option>
                    </select>
                    <div ng-messages="taskForm.listid.$error">
                        <p ng-message="required" ng-if="taskForm.listid.$touched">Select list is required</p>
                    </div>
                </div>
                <input type="submit" class="buttonDark" value="Add" ng-disabled="taskForm.$invalid">
                <button class="buttonDark" ng-click="cancelTask()">Cancel</button>
            </form>
        </div>
    </script>
    }




